<h1 class="display-4 text-center text-info">Accounts</h1>
<form [formGroup]="accountsFilterForm">
<table class="table table-hover">
    <thead>
        <tr>
            <button (click)="sort1()">Sort 1</button>
        </tr>

        <tr>
            <th scope="col">
                <div class="form-group">
                    <label for="account-id">
                        Account ID
                    </label>
                    <input class="form-control" id="account-id" type="text" formControlName="accountId">
                </div>
            </th>
            <th scope="col">
                <div class="form-group">
                    <label for="name">
                        Name
                    </label>
                    <input class="form-control" id="name" type="text" formControlName="name">
                </div>
            </th>
            <th scope="col">
                <div class="form-group">
                    <label for="account-type">
                        Account Type
                    </label>
                    <select class="form-control" id="account-type" formControlName="accountType">
                        <option value="" selected>All</option>
                        <option value="partner">Partner</option>
                        <option value="borrower">Borrower</option>
                      </select> 
                </div>
            </th>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let account of data">
            <tr role="button" [routerLink]="['/account', account.accountId]">
                <th scope="row">{{account.accountId}}</th>
                <td>{{account.name}}</td>
                <td>{{account.accountType}}</td>
            </tr>
        </ng-container>
    </tbody>
</table>
</form>