<div class="item-container justify-content-center">
    <div class="card menu-item" routerLink="/accounts">
        <div class="card-body menu-item-body">
            <i class="bi bi-people-fill"></i>
            <p>View Accounts</p>
        </div>
      </div>
      <div class="card menu-item" routerLink="/add-account">
        <div class="card-body menu-item-body">
            <i class="bi bi-person-plus-fill"></i>
            <p>Add Account</p>
        </div>
      </div>
      <div class="card menu-item" routerLink="/daybook">
        <div class="card-body menu-item-body">
            <i class="bi bi-book"></i>
            <p>Open Daybook</p>
        </div>
      </div>
</div>

