
.menu-item {
    width: 10rem;
    /* cursor: pointer; */
}

.menu-item:hover {
    cursor: pointer;
    border-color: cornflowerblue;
    color: cornflowerblue;
}

.menu-item-body {
    text-align: center;
}

.bi {
    font-size: 2rem;
}

@media only screen and (min-width: 769px) {
    /* For Desktops & Laptops: */
    .item-container {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .item-container {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
    }

    .body{
        font-size :x-small;
    }
}