<!-- <div class="card">
    <header></header>
    <div class="card-body">
        <router-outlet></router-outlet>
    </div>
</div> -->
<div class="loader-position" *ngIf="loading">
    <!-- <strong class="m-5">Loading...</strong> -->
    <div class="spinner-border text-info m-5" style="width: 3rem; height: 3rem;" role="status" aria-hidden="true"></div>
</div>
<!-- <div class="d-flex align-items-center loader-position" *ngIf="loading">
    <strong class="m-5">Loading...</strong>
    <div class="spinner-border text-info ml-auto m-5" style="width: 3rem; height: 3rem;" role="status" aria-hidden="true"></div>
</div> -->
<router-outlet></router-outlet>